<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4">
  <display-name>Welcome</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>Albums.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>Images.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>Photos.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>window.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>Tag.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>tagImages.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>signin</servlet-name>
    <servlet-class>facebook4j.examples.signin.SignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>callback</servlet-name>
    <servlet-class>facebook4j.examples.signin.CallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>facebook4j.examples.signin.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>post</servlet-name>
    <servlet-class>facebook4j.examples.signin.PostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getAlbums</servlet-name>
    <servlet-class>facebook4j.examples.signin.GetAlbumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tokenInfo</servlet-name>
    <servlet-class>facebook4j.examples.signin.TokenInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gencode</servlet-name>
    <servlet-class>facebook4j.examples.signin.device.GenDeviceCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deviceSignin</servlet-name>
    <servlet-class>facebook4j.examples.signin.device.DeviceSigninServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplyNames</servlet-name>
    <servlet-class>facebook4j.examples.signin.DisplyNames</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Picsort</servlet-name>
    <servlet-class>facebook4j.examples.signin.PhotoSort</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackToAlbum</servlet-name>
    <servlet-class>facebook4j.examples.signin.BackToAlbum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>taggedFriends</servlet-name>
    <servlet-class>facebook4j.examples.signin.taggedFriends</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>imageofFriends</servlet-name>
    <servlet-class>facebook4j.examples.signin.imageofFriends</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Datesort</servlet-name>
    <servlet-class>facebook4j.examples.signin.Datesort</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>callback</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getAlbums</servlet-name>
    <url-pattern>/getAlbum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tokenInfo</servlet-name>
    <url-pattern>/tokenInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gencode</servlet-name>
    <url-pattern>/gencode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deviceSignin</servlet-name>
    <url-pattern>/deviceSignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplyNames</servlet-name>
    <url-pattern>/disnam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Picsort</servlet-name>
    <url-pattern>/sort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackToAlbum</servlet-name>
    <url-pattern>/back</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>taggedFriends</servlet-name>
    <url-pattern>/frnds</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>imageofFriends</servlet-name>
    <url-pattern>/tagpic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Datesort</servlet-name>
    <url-pattern>/date</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>facebook4j.FacebookException</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>